.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(251, 135, 120,100);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  font-family: Montserrat,sans-serif;
  font-weight: 800;
}

.App-header2 {
  background-color: rgba(246, 208, 82,0.8);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #002c6b;
  font-family: Montserrat,sans-serif;
  font-weight: 800;
}

.form {
  background: linear-gradient(135deg,#f97c6b,#f6d052);
  font-family: Montserrat,sans-serif;
  color:#002c6b;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
